# See the README.md file for information on how to generate the JWT_SECRET and APP_KEY
APP_KEY=base64:OQHMw8Gn4HGLDlXQHm/5Nj/TPWL6QPmhO/hE1HxQFZY=
JWT_SECRET=3o6lbQbSzkbvYpluHExUQcH17yaDQysXDjKxzQgeDvI=

# Frontend variables (Always prefixed with VITE_)
VITE_FRONTEND_URL=http://localhost:8123
VITE_API_URL_CLIENT=http://localhost:8123/api
VITE_API_URL_SERVER=http://localhost:80/api
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TSCE83vCFOZQL6SjA3b45GRhlETjdpj6tmeAJf70vdZe4wX2HX4NnVoYkIdjwYK4f6JLp0BawdACVUWPHbB35GQ00WkIauze7pk_test_123456789

VITE_APP_NAME=E.Events

# Backend variables
# These values may not be suitable for production environments.
# Please refer to the documentation for more information on how to configure these values
# https://E.Events/docs/getting-started/deploying
LOG_CHANNEL=stderr
QUEUE_CONNECTION=redis

# Application settings
APP_CDN_URL=http://localhost:8123/storage
APP_FRONTEND_URL=http://localhost:8123
APP_DISABLE_REGISTRATION=false
APP_SAAS_MODE_ENABLED=false
APP_SAAS_STRIPE_APPLICATION_FEE_PERCENT=0
APP_SAAS_STRIPE_APPLICATION_FEE_FIXED=0
APP_EMAIL_LOGO_URL=
APP_EMAIL_LOGO_LINK_URL=

# Email settings (Using log mailer for local testing)
MAIL_MAILER=smtp
MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=elitjohnsdigital@gmail.com
MAIL_PASSWORD=qbgmkgmpmpivvuaj
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=elitjohnsdigital@gmail.com
MAIL_FROM_NAME="E Events"

# File storage settings
FILESYSTEM_PUBLIC_DISK=public
FILESYSTEM_PRIVATE_DISK=local

# Database settings
POSTGRES_DB=eevents_db
POSTGRES_USER=eevents_admin
POSTGRES_PASSWORD=EeventsSecure2026!
DATABASE_URL=postgresql://eevents_admin:EeventsSecure2026!@postgres:5432/eevents_db

# Stripe settings (Replace with valid test keys if necessary)
# STRIPE_PUBLIC_KEY=pk_test_51TSCE83vCFOZQL6SjA3b45GRhlETjdpj6tmeAJf70vdZe4wX2HX4NnVoYkIdjwYK4f6JLp0BawdACVUWPHbB35GQ00WkIauze7pk_test_123456789
# STRIPE_SECRET_KEY=sk_test_51TSCE83vCFOZQL6SrqXQk0F7LV9oS2KsuFo9WGhHlOYhsbFNCoPxdGgL1pCYWamMmDgAK0xuGymHSOMGVzRInoHn00QgW1UbUO
# STRIPE_WEBHOOK_SECRET=whsec_test_123456789

# Redis settings
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

# Paystack API Configuration - Test Mode
PAYSTACK_TEST_SECRET_KEY=sk_test_ce0d0bdbc8c07669bc4c8bb24cdc64b04ce0c
PAYSTACK_TEST_PUBLIC_KEY=pk_test_d842fa3fc40436d9a8d7c44d92f6a2f1ea25c197
PAYSTACK_TEST_CALLBACK_URL=https://example.com
PAYSTACK_TEST_WEBHOOK_URL=https://example.com
