# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
misc

fly.toml

frontend/.env*
backend/.env*

# Exclude node_modules - Docker will install them fresh
frontend/node_modules
node_modules

# Exclude git history
.git
