@use "mixins";

:root {
  --hi-text: #0d1117;
  --hi-primary: var(--mantine-color-primary-8);
  --hi-secondary:  var(--mantine-color-secondary-1);
  --hi-secondary-text: var(--mantine-color-primary-8);
  --hi-color-gray: #f4f5f7;
  --hi-color-gray-2: #e5e7eb;
  --hi-color-gray-dark: #6b7280;
  --hi-color-money-green: #00b894;
  --hi-color-blue: var(--mantine-color-primary-4);
  --hi-link-color: var(--mantine-color-primary-7);
  --hi-pink: var(--mantine-color-primary-5);
  --hi-primary-alt: var(--mantine-color-primary-6);
  --hi-gradient: linear-gradient(135deg, var(--hi-primary), var(--hi-primary-alt));
  --hi-scrollbar-thumb: #d1d5db;

  --hi-color-white: #ffffff;
  --hi-color-black: #000000;

  --hi-spacing-xs: 3px;
  --hi-spacing-sm: 5px;
  --hi-spacing-md: 10px;
  --hi-spacing-lg: 20px;
  --hi-spacing-xl: 25px;

  --hi-radius-xs: 4px;
  --hi-radius-sm: 8px;
  --hi-radius-md: 10px;
  --hi-radius-lg: 14px;
  --hi-radius-xl: 18px;
}

* {
  box-sizing: border-box;
}

html {
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--hi-text);
  background-color: var(--checkout-background, var(--hi-color-gray)) !important;
  height: auto;
  letter-spacing: -0.01px;
}

h1, h2, h3 {
  font-family: 'Sora', sans-serif;
  letter-spacing: -0.03em;
}

fieldset {
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--hi-link-color);
}

// Mantine overrides
.mantine-InputWrapper-root, .mantine-Switch-root {
  margin-bottom: var(--hi-spacing-lg);
}

.mantine-ScrollArea-viewport {
  padding-bottom: 0 !important;
}

.mantine-Modal-content {
  @include mixins.scrollbar();
}

.mantine-SimpleGrid-root {
  .mantine-InputWrapper-root, .mantine-Switch-root {
    //margin-bottom: 0;
  }
}
